// Bootstrap
.label,
.list-group-item,
.breadcrumb,
.alert,
.card,
.form-control,
.btn {
  border-radius: 0 !important;
}

.navbar-form {
  .form-control-sm {
    margin-top: 0.25rem;
  }
}

.list-group-flush:last-child {
  .list-group-item {
    border-bottom: none;
  }
}

.card-header {
  >.btn-group {
    margin-top: -0.15rem;
  }
}

// Markdown
.markdown-body {
  .fa-link {
    display: none;
  }
}

// Select2

.select2-container--open .select2-dropdown--above,
.select2-container--default .select2-selection--single {
  border-radius: 0;
}
