// Bootstrap
.list-group-item,
.breadcrumb,
.alert,
.card,
.form-control,
.btn {
  border-radius: 0 !important;
}

.navbar-form {
  .form-control-sm {
    margin-top: 0.25rem;
  }
}

.list-group-flush {
  .list-group-item {
    border-bottom: none;
  }
}

.card-header {
  >.btn-group {
    margin-top: -0.15rem;
  }
}

// Markdown
.markdown-body {
  .fa-link {
    display: none;
  }
}
